:root{
background-image: url(img3.jpg);
background-color: #d5d9db;
padding-top: 5px;
padding-bottom:5px;
padding-left:5px;
padding-right:5px;

}

.as{width:100px; text-align:left;}
h1{
font-weight: bold;
font-family: arial, verdana;
margin-top:-60px;
margin-left: 98px;
text-align:center;
background-color:black;
color: white;
}

/*class (.) untuk gambar-gambar.
id (#) untuk teks.*/

/*About me*/
#d1{
font-family: arial;
text-align:center;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
padding-top:5px;
color:white;
}

#b{
text-decoration:underline;
background-color:grey;
}
#c{
text-indent:15px;
margin-top:-15px;
}

/*Hobbies*/
#d2{
text-align:center;
padding-top:5px;
padding-bottom:5px;
margin-top:-15px;
color:white;
}
.a1{width: 60px;}
.a2{width: 58px;}
.a3{width: 46px;}
.a4{width: 60px;}
#bb{ text-decoration:underline;background-color:grey;}

/*Education*/
#d3{
font-family: arial;
text-align:center;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
padding-top:5px;
color: white;
}

#b1{text-decoration:underline;background-color:grey;}
#p1, #p3{font-size:18px; margin-top:-10px;}
#p3{margin-top:-10px;}
#p2, #p4, p5{font-size:12px; margin-top:-15px;}
#p5{margin-top:-15px;}

/*Experience*/
#d4{
font-family: arial;
text-align:center;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
padding-top:5px;
color: white;
}

#b2{text-decoration:underline;background-color:grey; }

/*Skills*/
#d5{
font-family: arial;
text-align:center;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
padding-top:5px;
color: white;
}

#b3{text-decoration:underline;background-color:grey;}

/*Contact Us*/
#d6{
font-family: arial;
text-align:center;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
padding-top:5px;
color: white;
background-color:grey;
}
.a8{width:50px; margin-left:0px;}
.a9{width:50px; margin-left:40px;}
